/*This is the css file of the style of the entry.html*/

img{
	width: 100%;
}

/*The layout of the body*/
body {
  font-family: 'Maiandra GD', cursive; 
}

/*The layout of the name box*/
.name {
    height: 1000px;
    width: 100%;
    background: #F8EDEB;
    position: relative;
}

.name_box {
    width: 1050px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px #0004;
    display: flex;
    overflow: hidden;
}
.name_box .left{
  width: 41%;
  height: 100%;
  padding: 25px 25px;

}
.name_box .right{
  width: 59%;
  height: 100%
}

/*The style of the home link*/
.left .home_link a {
    color: #5E6472;
    font-weight: 400;
}

.left .home_link {
  height: 20px;  
  margin: 20px;
  position: absolute;
  top: 0;
  left: 10px;
}

.left .home_link a:hover {
  color: #FEC89A; 
}

/*The layout of the left section*/
.left .contact{
	display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 73%;
    margin: auto;
}

.left h3{
  text-align: center;
  margin-bottom: 40px;
}

.left input {
    border: none;
    width: 80%;
    margin: 15px 0px;
    border-bottom: 1px solid #4f30677d;
    padding: 7px 9px;
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
}

.left{
	background: linear-gradient(-45deg, #FCD5CE, #fff); /**Create a background image with a linear gradient**/
}

/*The style of the submit button*/
.submit {
    border: none;
    padding: 15px 70px;
    border-radius: 8px;
    display: block;
    margin: auto;
    margin-top: 120px;
    background: #FEC5BB;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 9px 15px -11px rgba(254,197,187,1);
    transition: transform 0.3s; 
}

.submit:hover {
  transform: scale(1.1); 
}

/*The style of the right section*/
.right {
	
  background-size: cover; 
  border: 40px solid #FFE5D9; 
  
	color: #fff;
	position: relative;
}
.right::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2); 
  z-index: 1; 
}

/*The layout of the right background*/
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 
  z-index: -1; /* enture the video is at the lower layer */
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; 
}

/*The style of the right text*/
.right .right-text{
  height: 100%;
  position: relative;
  transform: translate(0%, 45%);
  z-index: 2;
}

.right-text h1{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  text-shadow: 
        -2px -2px 0 #000,  
         2px -2px 0 #000,
        -1px  2px 0 #000,
         2px  2px 0 #000;
}

.right-text h3{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 19px;
  font-weight: 400;
  
}

/* responsive layout for this one */
@media (max-width: 768px) {
  body {
    margin-top: 280px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .name {
    height: auto;
    padding: 20px;
  }

  .name_box {
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
  }

  .name_box .left, .name_box .right {
    width: 100%;
    height: auto;
  }

  .right{
    width: 100%;
    height: 300px !important;
  }


  .left .contact {
    width: 100%;
    margin: 0;
    padding: 10px;
  }

  .submit {
    margin-top: 20px;
    padding: 10px 30px;
  }

  .right-text {
    transform: translate(0%, 0%);
    text-align: center;
  }

  .right-text h1 {
    font-size: 28px;
    margin: 10px 0;
  }

  .right-text h3 {
    font-size: 14px;
    margin: 10px 0;
  }
}





